<app-search-github></app-search-github>

<div class="main">
  <div class="container">
    <header class="container-title">
      <h1>Buscardor de usario en gitHub</h1>
      <img src="/assets/icons/github.svg" alt="Logo git-hub">
    </header>

    <mat-form-field appearance="outline" class="fild-full-width">
      <mat-label>User name</mat-label>
      <input matInput [formControl]="userName">
      <button mat-button *ngIf="userNameValue" matSuffix mat-icon-button aria-label="Clear" (click)="cleanUserName()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="userName.errors">
        <span>I need a user name.</span>
      </mat-error>
    </mat-form-field>

    <div class="container-progress-spinner" *ngIf="isLoading">
      <mat-progress-spinner color="primary" mode="indeterminate">
      </mat-progress-spinner>
    </div>

    <div *ngIf="!isLoading">
      <app-card-empy *ngIf="!infoUser" [type]=typeCard></app-card-empy>
      <app-car-info-user *ngIf="infoUser" [infoUser]="infoUser"></app-car-info-user>
      <app-statistics *ngIf="infoUser" [userName]="infoUser.login"></app-statistics>
    </div>

    <app-footer></app-footer>
  </div>
</div>
